* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  /*border: 2px solid red;*/
}
:root {
  --background: #fff5e4;
  --accent: #cd5c08;
  --accent2: #6a9c89;
  --description: #393e46;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
}

nav h1 {
  justify-self: center;
  font-weight: 700;
  font-size: 30px;
}

nav button {
  border: none;
  background: none;
  margin: 0 15px;
  cursor: pointer;
  font-size: 20px;
}

.logo-color {
  color: var(--accent);
}

/*MENU STYLES*/

html,
body,
#content,
#menu-page-container {
  height: 100%;
}

#menu-page-container {
  padding: 30px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#text-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#text-cont h1 {
  font-size: 40px;
  font-weight: 400;
}

#button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#button-cont button {
  background: var(--background);
  padding: 10px 0px;
  width: 105px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid rgb(174, 173, 173);
}

#menu-display-cont {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 25px;

  background-image: radial-gradient(
    circle at top right,
    #7a7968 0%,
    #373732 25%
  );
}

#glass {
  border-radius: 25px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.3);
}

#menu-items {
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-description {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.item {
  font-weight: 100;
  font-size: 20px;
}

.description {
  font-weight: 100;
  color: #c8c5c5;
}
