* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

nav {
  display: flex;
  border: 2px solid red;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
}

nav h1 {
  justify-self: center;
}

nav button {
  border: none;
  background: none;
  margin: 0 15px;
  cursor: pointer;
  font-size: medium;
}
