/*HOMEPAGE CSS */

html,
body {
  height: 100%;
}

body#homepage-body {
  display: flex;
  flex-direction: column;
}

#homepage-body #content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: var(--background);
}

#homepage-body #text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 90px;
  gap: 20px;
}

#homepage-body #name {
  font-size: 30px;
}

#homepage-body #tag {
  font-size: 50px;
}

#homepage-body #description {
  color: var(--description);
}

#homepage-body #menu-btn-home {
  border-radius: 20px;
  border: none;
  background: var(--accent);
  padding: 10px 20px;
  color: var(--background);
  font-size: 15px;
  cursor: pointer;
}

#homepage-body #img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage-body #homepage-img {
  height: 600px;
  width: auto;
}
